@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.navbar {
  height: 75px;
}

.navbar-item{
  .button {
    background-color: #363636;
    border: none;
    height: auto;
    padding: 1em;
  }
  .button:hover {
    background-color: grey;
  }
}

.anton {
  font-family: 'Anton', sans-serif;
}
