@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&display=swap');

.navbar {
  height: 75px;
}

.navbar-item{
  .button {
    background-color: #363636;
    border: none;
    height: auto;
    padding: 1em;
  }
  .button:hover {
    background-color: grey;
  }
}

.anton {
  font-family: 'Anton', sans-serif;
}

.bio {
  margin-top: 1em;
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
  font-family: 'Open Sans', sans-serif;
  padding: 1.5em 5em;
  font-size: 1.25em;
}
